@import "../variables.module.scss";
@import "../breakpoints.module.scss";

.services {
  padding-block: 8rem;
  width: 100%;

  .container {
    margin-inline: auto;
    padding-inline: $padding-content;
    max-width: 1140px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .head {
    @include sectionHeading;
  }
  .subHead {
    color: $grey;
    @include subHeading;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-block-start: 4rem;
  gap: 2rem;

  .card {
    max-width: 350px;
    flex: 1;

    .img {
      width: 100%;
      height: 100%;
    }
    .text {
      padding-block: 1.5rem;
      padding-inline: 1.5rem;
      .title {
        padding-block-end: 1rem;
        font-size: 20px;
      }

      .description {
        color: $grey;
        @include textDescription;
      }

      .button {
        @include buttonGreen;

        &:hover {
          color: $lime-green;
          background-color: $white;
        }
      }
    }
  }
}
