@import "../variables.module.scss";
@import "../breakpoints.module.scss";

.services {
  padding-block-start: 8rem;
  .container {
    margin-inline: auto;
    padding-inline: $padding-content;
    max-width: 1200px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .title {
    font-weight: $semi;
    font-size: 36px;
    span {
      color: $lime-green;
    }
  }
}
