@import "./variables.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $font-poppins;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding-block: 1.1rem;
  padding-inline: 2.5rem;
  font-weight: $bold;
  font-size: 13px;
  color: $white;
  border-radius: 50px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

svg {
  cursor: pointer;
}
