@import "./variables.module.scss";
@import "./breakpoints.module.scss";

.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: transparent;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    padding-inline: $padding-content;
    max-width: 1140px;
    height: 100%;

    .menu {
      display: initial;
      @include lg {
        display: none;
      }
    }
  }
}

.logo {
  font-weight: $bold;
  font-size: 24px;
  color: $white;
}

.nav {
  position: fixed;
  // top: -100vh;
  top: $header-height;
  right: 0;
  left: 0;
  background: $white;
  padding-block: 1rem;
  transition: 0.3s ease-in;
  z-index: 3;
  @include lg {
    all: unset;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    @include lg {
      flex-direction: row;
      gap: 3rem;
    }

    li {
      a {
        letter-spacing: 0.5px;
        font-size: 15px;
        color: $light-black;
        transition: 0.1s ease-in;
        @include lg {
          color: $white;
          padding-block-end: 1rem;
        }

        &:hover {
          color: $lime-green;
          @include lg {
            border-bottom: $lime-green 3px solid;
          }
        }
      }
    }
  }
}
