@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// FONT-FAMILY
$font-poppins: "Poppins", sans-serif;
// FONT-WEIGHT
$normal: 400;
$medium: 500;
$semi: 600;
$bold: 700;

// COLORS
$lime-green: #a4c639;
$black: #000;
$white: #fff;
$white-opacity: rgb(255, 255, 255, 0.3);
$dark-grey: #232323;
$grey: #666666;
